<ion-header >
  <ion-toolbar class="toolbar" >
  
    <ion-title style="color: white;font-family: serif;">Comsats University Islamabad</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content fullscreen>

  <ion-row>
    <ion-col>
      <!-- <div  class="main-cards">
      <h3>Comsats University Islamabad</h3>
    </div> -->
    </ion-col>
  </ion-row>
  <div class="login-logo">
    <img src="../../assets/img/logo.png"  alt="Ionic logo">
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list>

      <ion-item>

        <ion-label style="color: #000;" position="stacked">What you are?</ion-label>
        <ion-select [(ngModel)]="login.role" name="role" (ionChange)='setLanguage()'  ok-text="OK" cancel-text="Cancel">
          <!-- <ion-select-option  value="1">Admin</ion-select-option> -->
          <ion-select-option    value="2">HOD</ion-select-option>
          <ion-select-option    value="3">HOC</ion-select-option>
          <ion-select-option    value="4">MOC</ion-select-option>
          <!-- <ion-select-option    value="5">Faculty</ion-select-option> -->

        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label style="color: #000;" position="stacked">  Username</ion-label>
        <ion-input [(ngModel)]="login.email" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
          required>
          <!-- <ion-icon name="mail-outline"></ion-icon> -->
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
          Username is required
        </p>
      </ion-text>


      <ion-item>
        <ion-label style="color: #000;" position="stacked">  Password</ion-label>
        <ion-input  [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
          <!-- <ion-icon name="key" item-start class="text-primary"></ion-icon> -->
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          Password is required
        </p>
      </ion-text>

      <!-- <ion-text color="danger">
        <p style="text-align: end;color: #000;" class="ion-padding-end">
          Forgot Password?
        </p>
      </ion-text> -->
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="logins(loginForm)" class="btn-color" type="submit" expand="full">Login</ion-button>
      </ion-col>
    </ion-row>
    <div (click)="onSignup()">
    <!-- <ion-text color="danger" >
      <p style="text-align: center;color: e50000;" class="ion-padding-end">
        Not have an account?
      </p>
    </ion-text> -->
  </div>
  </form>

</ion-content>
